{% spaceless %}
{% load sekizai_tags %}

{% addtoblock "css" %}
  {% comment %}
  <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/css/jquery.fancybox-1.3.4.css" media="screen" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/css/jquery.fancybox-2.1.5.css" media="screen" /> -->
  {% endcomment %}
{% endaddtoblock %}

{% if imageset.kind == "lightbox" %}
  {% addtoblock "css" %}
  {% comment %}
    <style>
      ul.imageset li.image.link {
          padding: {{ imageset.padding }}px;
        }
    </style>
  {% endcomment %}
  {% endaddtoblock %}
{% endif %}

{% addtoblock "js" %}
	{% comment %}
  <script src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}fancybox/js/jquery.mousewheel.min.js"></script>
  <script src="{{ STATIC_URL }}fancybox/js/jquery.fancybox-1.3.4.pack.js"></script>
  <script src="{{ STATIC_URL }}fancybox/js/jquery.fancybox-2.1.5.js"></script>
  <script src="{{ STATIC_URL }}fancybox/js/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript">
    var fancyBOX = jQuery.noConflict();
    fancyBOX(document).ready(function() {
      fancyBOX(".fancybox").fancybox({
            'transitionIn'      : 'fade',
            'transitionOut'     : 'fade',
            'changeFade'        : 100,
            'speedIn'           : 75,
            'speedOut'          : 75,
            'autoDimensions'    : true
	    });
		});
	</script>
  {% endcomment %}

{% endaddtoblock %}
<ul class="clearing-thumbs" data-clearing style="width: {{ imageset.container_width }}px;">
	{% for item in imageset.items %}
		<li class="image link {% if item.lastinrow %}lastinrow{% endif %}">
      {% include "arkestra_image_plugin/includes/foundation_imageset_item.html" %}
		</li>
	{% endfor %}
</ul>


{% endspaceless %}
