{% load sekizai_tags thumbnail %}
<ul id="slider{{ imageset.id }}" class="imageset slider" data-orbit data-options="animation_speed:7500;">
	{% for item in imageset.items %}
    	<li id="imageset-item-{{ imageset.id }}-{{ item.id }}">
    		{% include "arkestra_image_plugin/includes/foundation_imageset_item.html" %}
    	</li>
	{% endfor %}
</ul>


{% addtoblock "css" %}
<style>
	#slider{{ imageset.id }} {
	width: {{ imageset.size.0 }}px;
	height: {{ imageset.size.1 }}px;
	list-style: none;
	/* Prevent FOUC (see FAQ page) and keep things readable if javascript is disabled */
	overflow-y: auto;
	overflow-x: hidden;
}
	#slider{{ imageset.id }} li .image img {

	width: {{ imageset.size.0 }}px;
	height: {{ imageset.size.1 }}px;
}
</style>
{% endaddtoblock %}

{% addtoblock "js" %}
{% endaddtoblock %}
